<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hola Amigo!</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loaderStyle.css">
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon"/>

</head>
<body>
    <span id="head" class="content">Welcome!!</span>
    <span id="title" class="content">Hi, I'm Browsee, your assistant !</span>
    <div id="container">

        <form action="/details" method="POST" autocomplete="off">    
            
           <span class="content"> Forget 'em all, what should I call you?</span>
                <input type="text" name="name" placeholder="Name">
                <div class="autocomplete">
                   <span class="content"> Where are we now?</span>
                    <input id="myInput" type="text" name="city" placeholder="City">
                </div>
                <input type='submit'>
        </form>
    
    </div>
    </body>
<script src='/js/loaderScript.js'></script>
<script src="/js/three.r95.min.js"></script>
    <script src="/js/vanta.birds.min.js"></script>
    <script>
    VANTA.BIRDS({
        el: "body",
        mouseControls: true,
        touchControls: true,
        minHeight: 700.00,
        minWidth: 200.00,
        scale: 1.00,
        quantity: 4.00,
        scaleMobile: 1.00
    })
    </script>

</html>